body{
    text-align: center;
}
img{
    width: 50%;
}
.main-cal {
    display: inline-block;
    max-width: 50%;
    max-height: 26rem;
}
.calc{
    padding: 1rem;
    width: 50%;
    height: 75%;
    border: none;
    border-radius: 1rem;
    background-color: grey;
    margin: 2.7rem auto;
}
.calc-display {
    background-color: rgb(200, 209, 200);
    border-radius: 10px;
    width: 84%;
    height: 10%;
    margin-bottom: 1.8rem;
    color: black;
}
.calc-buttons button{
    width: 20%;
    height: 2.2rem;
    border: none;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #fff;
    font-size: larger;
    font-weight: 500;
}
.zero{
    background-color: rgb(255, 147, 23) !important;
}
#clear{
    background-color: black;
    color: #fff;
    width: 85%;
}
.h1{
    color: black;
    text-align: center;
}

@media (max-width: 768px) {
    .main-cal{
        height: max-content;
    }
    .calc {
        width: 70%;
        padding: 0.5rem;
    }

    .calc-display {
        font-size: 1rem;
        height: 2.5rem;
    }

    .calc-buttons button {
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .zero {
        grid-column: span 2;
    }

    #clear {
        height: 2.5rem;
    }
}

@media (max-width: 480px) {
    .calc {
        width: 100%;
    }
    .calc-display {
        font-size: 0.9rem;
    }

    .calc-buttons button {
        height: 2rem;
        font-size: 0.8rem;
    }

    #clear {
        font-size: 0.9rem;
    }
}